{% extends "manager/base.html" %}
{% block title %} Specialized Title !{% endblock %}

{% block body %}
<div id="file_manager">
	<header><h1>{{path}}</h1></header>
	<section>
		<ul id="side-panel">
			{% for item in shortcuts %}
			<li><a href="#">{{item}}</a></li>
			{% endfor %}
		</ul>
		<div id="content">
			{% for folder in subfolders %}
			<div class="folder">
				<a href="/{{folder.id}}">{{folder}}</a>
			</div>
			{% endfor %}
			{% for file in files %}
			<div class="file">
				<a href="#">{{file}}</a>
			</div>
			{% endfor %}
		</div>
	</section>
	<footer>
		<p>X éléments</p>
	</footer>
</div>
{% endblock %}
