{% extends "manager/base.html" %}
{% load staticfiles  %}
{% block title %} Title  {% endblock %}

{% block body %}
<div id="file_manager">
	<header><h1>{{path}}</h1></header>
	<section>
		<ul id="side-panel">
			{% for item in shortcuts_folder %}
			<li><img src="{% static "manager/images/folder_min.png" %}" alt=""/><a href="/{{item.folder.id}}">{{item}}</a></li>
			{% endfor %}
			{% for item in shortcuts_file %}
			<li><img src="{% static "manager/images/file_min.png" %}" alt=""/><a href="#">{{item}}</a></li>
			{% endfor %}
			{% for item in shortcuts_link %}
			<li><img src="{% static "manager/images/file_min.png" %}" alt=""/><a href="{{item.link}}" target="_blank">{{item}}</a></li>
			{% endfor %}
		</ul>
		<div id="content">
			{% for folder in subfolders %}
			<span class="folder">
				<a href="/{{folder.id}}"><img src="{% static "manager/images/folder.png" %}" alt=""/></br>{{folder}}</a>
			</span>
			{% endfor %}
			{% for file in files %}
			<span class="file">
				<a href="#"><img src="{% static "manager/images/file.png" %}" alt=""/></br>{{file}}</a>
			</span>
			{% endfor %}
		</div>
	</section>
	<footer>
	<p>{{nb_items}} {% if nb_items > 1 %}items{% else %}item{% endif %}, <strong>free space</strong> : 806,3 To</p>
	</footer>
</div>
{% endblock %}
